body {
	background-color: #faf3dd;
	font-family: Comic Sans MS;
	text-align: center;
	font-size: 30px;
}

.img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
}

table, th, td {
	font-size: 30px;
	height: 100px;
	padding: 15px;
	border: 2px solid black;
}